:root {
    --top: #F7F7F7;
    --icons: #060606c9;
    --logo: #535452;
    --nav: #ff8c45;
    --nav-text: #447eff;
    --primary: #EEBF00;
    --secondary: #232B38;
    --ternary: #6C6C6C;
    --danger: #FE4545;
    --pure: #FEFEFE;
    --light: #F0F0F0;
    --heaven: #FFFFFF;
    --footer: #2D333F;
    --swiper-navigation-size: 32px !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    /* font-family: "Raleway-regular"; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
    padding: 10px 15px;

}

.main-wrapper {
    position: relative;
    width: 98%;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

.site-content {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.topbar-contact-mob {
    display: none;
}

header.topbar {
    background: var(--top);
    color: var(--icons);
    font-family: "Raleway-semibold";
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 0.75rem;
}

header.topbar .icons a {
    margin-right: 0.6rem;
}

.social-icons {
    width: 25px;
}

.top-padding {
    margin-top: 9px;
    padding: 8px;
    line-height: 1.5;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.direction-flex {
    flex-direction: column;
}

.center-text {
    text-align: center;
}

.height-line {
    line-height: 1.4;
}

.hr-style {
    width: 80%;
}
.section-heading {
    padding-top: 20px;
    color: var(--nav);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.nav-header {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: var(--logo);
}

.logo-container {
    padding: 10px;
}

.logo-title {
    max-width: 250px;
    max-height: 125px;
}

.logo-img {
    width: 250px;
    height: 125px;
}

.epa-img {
    width: 77px;
    height: 77px;
}

.bbb-img {
    width: 77px;
    height: 115px;
}

/* .navbar{
    position: fixed;
} */
.nav-container-mob {
    display: none;
}

.navbar a {
    text-decoration: none;
    color: var(--pure);
    /* font-family: "Raleway-semibold"; */
    font-weight: 600;
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.navbar a.active {
    /* background:var(--top); */
    color: var(--top);
}

.navbar a:hover {
    /* background:var(--top); */
    text-decoration: none;
    color: var(--nav);
}

.color-font {
    color: var(--icons);
}

.size-font {
    font-size: 1.2rem;
}

.slideshow-container {
    padding: 0px;
    width: 100%;
    position: relative;
    margin: auto;
    z-index: -1;
    /* height: 80vh; */
}

/* Hide the images by default */
.slides {
    display: none;
}

.slider-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Next & previous buttons */
/* .prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */


/* The dots/bullets/indicators */
.dot-container {
    margin-top: 15px;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    width: 100%;
    height: 80vh;
}

.testimonials {
    background-color: var(--light);
    margin: 15px 0;
}

.testimonial-container {
    display: grid;
    column-gap: 0px;
    row-gap: 40px;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 385px 385px;
    padding: 30px 0px 30px 0px;
    justify-content: space-around;
}

.testimonial-card {
    padding: 10px;
    background-color: var(--pure);
    border-radius: 5px;
    width: 350px;
}

.testimonial-content {
    padding: 8px;
    height: 200px;
    line-height: 25px;
}
.testimonial {
    text-align: center;
    padding: 75px 30px;
    margin: 55px 10px 15px;
    background: #f9f9f9;
    box-shadow: 8px 4px 0 0 #77a9dd;
    position: relative;
}

.testimonial .pic {
    width: 120px;
    height: 120px;
    border: 5px solid #77a9dd;
    margin: 0 auto;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    border-radius: 50%;
}

.testimonial .pic img {
    width: 100%;
    height: auto;
}

.testimonial .description {
    font-size: 15px;
    color: #757575;
    line-height: 27px;
    margin-bottom: 20px;
    position: relative;
    height: 180px;
}

.testimonial .description:before {
    /* content: "\f10d"; */
    /* font-family: "FontAwesome"; */
    font-size: 32px;
    color: #77a9dd;
    position: absolute;
    top: -15px;
    left: -35px;
}

.testimonial .testimonial-profile {
    position: relative;
    margin: 20px 0 10px 0;
}

.testimonial .testimonial-profile:after {
    /* content: ""; */
    width: 50px;
    height: 2px;
    background: #77a9dd;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}

.testimonial .title {
    display: inline-block;
    font-size: 18px;
    color: #4a5184;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.testimonial-slider{
    display: none;
}
.service {
    margin: 15px 0;
    background: linear-gradient(rgb(137 75 137 / 80%), rgb(139 102 102 / 80%)), url(../images/service_bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-intro {
    margin-top: 15px;
    font-size: 16.5px;
    text-align: center;
}

.services-detail-container {
    display: grid;
    row-gap: 25px;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 215px 200px;
    padding: 30px 100px;
    justify-content: space-around;
}

.service-detail-card {
    background-color: var(--pure);
    width: 300px;
    box-shadow: 0 7px 12px 0 rgb(0 0 0 / 12%);
    border-radius: 10px;
    text-align: center;
}

.service-detail-content {
    padding: 10px;
    background-color: #d8bfd8;
    border-radius: 10px 10px 0 0;
}

.service-detail-content h2 {
    color: var(--icons);
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
}

.gmap_iframe {
    height: 400px !important;
}

.footer-mob{
    display: none;
}
.footer {
    margin: 15px 0 0 0;
    background-color: var(--ternary);
    /* height: 400px; */
}

.footer-container {
    padding: 10px 75px;
}

.footer h3 {
    color: var(--pure);
    padding: 15px 0;

}

.footer a {
    text-decoration: none;
    color: var(--pure);
    /* font-weight: 600; */
    font-size: 1rem;
    /* padding: 1rem 1.5rem; */
}

.footer p {
    padding: 15px 0;
    color: var(--pure);
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.swiper {
    width: 95%;
    height: 100%;
    padding: 40px 0 !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    width: calc(var(--swiper-navigation-size)/ 32 * 27) !important;

}

.swiper-button-prev {
    left: -4px !important;
}

.swiper-button-next {
    right: -4px !important;
}

/* @media (min-width:576px) {
    .container .nav-container-data {
        max-width: 540px;
    }
} */

@media (max-width: 767px) {

    /* .container .nav-container-data {
        max-width: 720px;
    } */
    .main-wrapper {
        width: 100%;
    }

    .topbar-contact {
        display: none;
    }

    .topbar-contact-mob {
        display: block;
    }

    .logo-img {
        width: 125px;
        height: 75px;
    }

    .container {
        flex-direction: column;
    }

    .container>div:nth-child(2) {
        margin: 10px 0;
        line-height: 1.5;
        text-align: center;
    }

    .navbar {
        display: none;
    }

    .nav-header {
        padding: 0;
    }

    .logo-container {
        padding: 8px 5px;
    }

    .epa-img {
        width: 60px;
        height: 60px;
    }

    .bbb-img {
        width: 50px;
        height: 80px;
    }

    .nav-container-mob {
        display: block;
        background: var(--nav);
        position: relative;
    }
    .navbar-items-mob {
        padding: 10px;
        text-decoration: none;
        color: var(--pure);
        font-size: 15px;
    }
    .navbar-mob a:hover{
        color: var(--logo)
    }

    .fade{
        height: 45vh;
    }

    .service-intro{
        font-size: 15px;
        padding: 0 5px;
        margin-top: 5px;
    }
    .services-detail-container {
        row-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: none;
        padding: 10px 0px;
        justify-items: center;
    }
    .service-detail-content {
        padding: 7px;
    }
    .service-detail-content h2{
        font-size: 20px;
    }
    .service-detail-content p{
        font-size: 15px;
    }
    .service-brands h1{
        font-size: 20px !important;
        padding: 15px 6px;
    }

    .testimonial-container{
        display: none;
    }

    .testimonial-slider{
        display: block;
        max-width: 1000px;
        position: relative;
        margin: 0 7px;
        padding-top: 15px;
    }
    .test-slide{
        display: none;
    }
    .testimonial-dot {
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active {
        background-color: #717171;
    }
    .test-fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes test-fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    .test-slide-container {
        text-align: center;
        padding: 70px 10px 5px;
        margin: 55px 10px 15px;
        background: #f9f9f9;
        box-shadow: 8px 4px 0 0 #77a9dd;
        position: relative;
    }
    
    .test-slide-container .pic {
        width: 110px;
        height: 110px;
        border: 5px solid #77a9dd;
        margin: 0 auto;
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
        border-radius: 50%;
    }
    
    .test-slide-container .pic img {
        width: 100%;
        height: auto;
    }
    
    .test-slide-container .description {
        font-size: 15px;
        color: #757575;
        line-height: 27px;
        margin-bottom: 20px;
        position: relative;
        height: 180px;
    }
    
    .testimtest-slide-containeronial .description:before {
        /* content: "\f10d"; */
        /* font-family: "FontAwesome"; */
        font-size: 32px;
        color: #77a9dd;
        position: absolute;
        top: -15px;
        left: -35px;
    }
    
    .test-slide-container .testimonial-profile {
        position: relative;
        margin: 30px 0 10px 0;
    }
    
    .test-slide-container .testimonial-profile:after {
        /* content: ""; */
        width: 50px;
        height: 2px;
        background: #77a9dd;
        margin: 0 auto;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
    }
    
    .test-slide-container .title {
        display: inline-block;
        font-size: 18px;
        color: #4a5184;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
    }

    .footer-container {
        padding: 10px;
        flex-direction: column;
    }
    .footer-mob{
        display: block;
    }
    .quick-links{
        display: flex;
        justify-content: space-between;
    }
    .footer h3{
        padding: 4px 0;
    }
    .footer p{
        padding: 10px 0;
    }
}

/* @media (min-width: 992px) {
    .container .nav-container-data {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container .nav-container-data {
        max-width: 1152px;
    }
} */